
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <b><a class="navbar-brand" href="{% url 'home' %}">TweetMe</a></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ request.user.profile.get_absolute_url }}">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li class="nav-item active">
        <a class="btn btn-success" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-success" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
</br/
</br/>

<h3>Search User</h3>
 <form id='navbar-search-form' class="navbar-form navbar-left" method='GET' action='{% url "search" %}'>
        <div class="form-group">
            <input class="form-control" type='text' name='q' placeholder='Your search' value='{{ request.GET.q }}'/>
            </div>
        <input class="btn btn-primary" type='submit' value='Search'/>
</form>